*{
	margin:0;
	padding:0;
}
#Menubg{
	position:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	min-height:87px;
	background:#535151;
	z-index:1;
}
#menutxt{
	margin:0 30px;
	font-size:25px;
	color:#d3d3d3;
	font-family:sans-serif;
	display:inline-block;
}

#menupart{
	margin:0px 15px;
	color:#d3d3d3;
	display:inline-block;
	transition:0.5s;
}
#menupart:hover{
	cursor:pointer;
	color:#a4dcd2;
}
#icon{
	color:red;
}
#responsimg>img{
	width:20px;
	height:20px;
}
#responsimg{
	position:absolute;
	top:35px;
	right:15px;
	display:none;
}

#Bgi1{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:601px;
	background-image:url(../Img/Girl.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;

}
#ponelposition{
	display:flex;
	justify-content:center;
	align-items:center;
}
#panel{
	max-width:547px;
	min-height:171px;
	background:#ffffffaa;

}
#panel>span{
	padding:40px;
	box-sizing:border-box;
	font-size:50px;
	position:relative;
	top:30px;
	font-family:sans-serif;
}
#buttonpos{
/*	position:relative;
	top:50px;*/
	margin-top:50px;
	width:212px;
	height:40px;
}
#button1{
/*	position:relative;
	top:50px;
*/	border:none;
	font-size:20px;
	padding:10px;
	box-sizing:border-box;
	color:white;
	width:212px;
	height:40px;
	background:#303132;
	transition:0.5s;
}
#button1:hover{
	cursor:pointer;
	color:black;
	background:white;
}
#bottompanel{
width:100%;
height:47px;
background:#e5e5e5;
}
#bottompanel>span{
	font-size:15px;
	font-family:sans-serif;
	position:relative;
	top:15px;
}
#maindiv1{
	/* display:; */

	width:100%;
	min-height:690px;
}
#maindiv1_control_text{
	position:relative;
	top:20px;
	/*margin-top:20px;*/
}
#Text1{
	font-size:50px;
	font-family: sans-serif;
}
#linediv{
	margin:20px 0;
	border:0.5px solid black;
	width:38px;
}
#Text2{
	/*margin-top:40px;*/
	font-size:19px;
	font-family:Bookman Old Style,sans-serif;
}
#imgdiv{
 display:inline-block;
 margin-top:60px;
}
#typeimg1{
	display:inline-block;
	width:298px;
	position:relative;
	overflow:hidden;
}
.img1{
	/*background-position:center;*/
	transition:.5s;
}
.img1:hover{
	cursor:pointer;
	transform: scale(1.1);
}

#button{
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	/*padding:10px;*/
	box-sizing:border-box;
	color:white;
	font-family: sans-serif;
	margin-top:-58px;
	border:none;
	background:#303132;
	width:298px;
	height:55px;
	/*overflow:hidden;*/
	transition:0.5s;
}
.Ptext{
	transition:0.4s;
	/*width:100%;*/
	/*height:100%;*/
	position:absolute;
	/*margin:auto;*/
}
.PtextB{
	opacity:0;
}
#typeimg1:hover .PtextA{
	cursor:pointer;
	opacity:0;
}
#typeimg1:hover .PtextB{
	cursor:pointer;
	opacity:1;
}
#typeimg2{
	vertical-align:top;
	display:inline-block;
}
#typeimg3{
	display:inline-block;
	width:298px;
	position:relative;
	overflow:hidden;
}
#button2{
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	/*padding:10px;*/
	box-sizing:border-box;
	color:white;
	font-family: sans-serif;
	margin-top:-58px;
	border:none;
	background:#303132;
	width:298px;
	height:55px;
	/*overflow:hidden;*/
	transition:0.5s;
}
.Ptext{
	position:absolute;
	transition:0.5s;
}
.PtextD{
	opacity:0;
}
#typeimg3:hover .PtextC{
	cursor:pointer;
	opacity:0;
}
#typeimg3:hover .PtextD{
	cursor:pointer;
	opacity:1;
}



#lastPanel{
	/*display:inline-block;*/
	display:flex;
	justify-content:center;z
	align-items:center;
	flex-warp:warp;
	background:#303132;
	max-width:100%;
	min-height:220px;
}
#positiononlast{
	position:relative;
	margin-top:30px;
	/*display:flex;*/
/*	justify-content:center;
	align-items:center;*/
}
#divpart1{
	
	display:inline-block;
}
.i1{
	margin:15px 0;
	color:white;
}
#divpart1>p{
	color:gray;
	font-size:14px;
}
#divpart2{
	margin:0 40px;
	display:inline-block;
}
#divpart2>form>p{
	margin-bottom:20px;
	color:gray;
	font-size:14px;
}
#input1{
	color:white;
	padding:10px;
	box-sizing:border-box;
	background:#777777;
	width:298px;
	height:35px;
	border:none;
}
#input1::placeholder{
	color:white;
}
#Okbutton{
	margin-bottom:30px;
	position:relative;
	top:15px;
	display:block;
	text-align:center;
	padding:10px;
	box-sizing:border-box;
	border:none;
	width:298px;
	height:35px;
	background:#d3d3d3;
	transition:0.5s;
}
#Okbutton:hover{
	cursor:pointer;
	background:#ffffff;
}

#divpart3{
		display:inline-block;
}
#divpart3>p{
	color:gray;
}
#divpart3>a{
	text-decoration:none;
	color:gray;
}
#lasttext{
	margin:15px 0;
	display:block;
}
#lasttext>p{
	color:white;
	font-size:15px;
	font-family: sans-serif;
}
#lasttext>p>a{
	color:white;
	font-family: sans-serif;
}

/*#lasttext{
	position:relative;
	top:50px;
	text-decoration:none;
	color:white;
	font-size:15px;
	font-family: sans-serif;
}*/
